<% provide(:title, 'home page') %>
<div class="center hero-unit">
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<h1>yoyo games</h1>
<h2>home page for bacon roll app</h2>

<%= image_tag("http://25.media.tumblr.com/tumblr_m60xhfMCtM1qcq7qdo1_400.png") %>
<br>
<%= link_to "today's orders", today_path, class: "btn btn-custom"  %>
<br><br>
<%= link_to "create order", ordering_path, class: "btn btn-custom" %>
<%= link_to "view all orders", orders_path, class: "btn btn-custom"  %>

</div>
