<% provide(:title, 'create an order') %>

<h1>place your order</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for(@order) do |f| %>
	    <%= render 'shared/errors' %>

      <%= f.label :name %>
      <%= f.text_field :name %><br>

	  <%= label_tag(:roll, "kind of roll") %>
	  <%= f.radio_button(:roll, 'white') %>	white  
	  <%= f.radio_button(:roll, 'brown') %> brown
	  <%= f.radio_button(:roll, 'seeded') %> seeded

	  <%= label_tag(:filling, "filling") %>
	  <%= check_box_tag("filling[]", 'bacon') %> bacon <br>
	  <%= check_box_tag(:"filling[]",'sausage') %> sausage <br>
	  <%= check_box_tag(:"filling[]",'egg') %> egg <br>
	  <%= check_box_tag(:"filling[]", 'black pudding') %> black pudding <br>
	  <%= check_box_tag(:"filling[]", 'lorne sausage') %> lorne sausage <br>
	  <%= check_box_tag(:"filling[]", 'blt') %> blt <br>
	  <%= check_box_tag(:"filling[]", 'cheese') %> cheese <br>
	  <%= check_box_tag(:"filling[]", 'mince') %> mince <br>
	  <%= check_box_tag(:"filling[]", 'steak & onion') %> steak and onion <br>

	  <%= f.label :sauce %>
      <%= f.text_field :sauce, :maxlength => 140 %><br>


	  <%= f.label :notes %>
      <%= f.text_field :notes, :maxlength => 140 %><br>

      <br><br>
      <%= f.submit "place order", class: "btn btn-custom" %>

    <% end %>


</div>
</div>