<% provide(:title, @order.name) %>
<h1><%= @order.name %>'s Order</h1>
<br>
Roll: <%= @order.roll %><br>
Filling: <%= @order.filling %><br>
Sauces: <%= @order.sauce %><br>
Notes (if any): <%= @order.notes %>