<% provide(:title, 'all orders') %>

<h1>today's orders</h1>



<div class="center hero-unit">
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<table>
	<tr>
<th>Name</th> 
<th>Roll</th>
<th>Filling</th>
<th>Sauce</th>
<th>Notes</th>
<th>Options</th>

</tr>

	<tr>

<ul class="orders">

  <% @orders.each do |order| %>


      <td>
        
         <%= link_to order.name, order %> 

    </td>
      

      <td><%= order.roll %> </td>

	    
  	  <td><%= order.filling %></td>
  	 

      <td><% if order.sauce.empty? %>
	      ---
      <% else %>
  	  <%= order.sauce %>
  	  <% end %></td>

      <td><% if order.notes.empty? %>
	       ---
      <% else %>
  	  <%= order.notes %>
  	  <% end %></td>

  	  <td>
  	  	<%= link_to 'edit?', edit_order_path(order.id) %>
        <%= link_to 'delete?', order, method: :delete, data: { confirm: "You sure? If this isn't your order you might start a WAR." } %>
        


  	  </td>

</tr>

  <% end %>

</ul>

</div>
