    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= image_tag("http://24.media.tumblr.com/tumblr_m60msaeRsf1qcq7qdo1_100.png", id: "symbol") %>
          <%= link_to "bacon", root_path, id: "symbol" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "home",    root_path %></li>
              <li><%= link_to "create order",    ordering_path %></li>
              <li><%= link_to "today's orders",    today_path %></li>
              <li><%= link_to "view all orders",    orders_path %></li>
              
            </ul>
          </nav>
        </div>
      </div>
    </header>